<div class="pagina">
  <div class="topbar">
    <div class="toggle">
      <img src="assets/logo.JPG" alt="">
    </div>
    <div class="search">
        <label>
            <input type="text" placeholder="Search...">
            <img src="assets/pesquisar.png" alt="">
        </label>
    </div>
    <div class="perfil">
      <div class="chat">
        <img src="assets/Chat.png" alt="">
      </div>
      <div class="notificacao">
        <img src="assets/Notifications.png" alt="">
      </div>
      <div class="user">
        <img src="assets/avatar.png" alt="">
      </div>
      <h1>Maurício Souto</h1>
      <img src="assets/setaBaixo.png" alt="" class="imgUser">
    </div>
</div>


  <div class="container">
    <div class="sidebar">
      <ul >
        <li class="selecionada">
          <a href="">
            <img class="imgMenu" src="assets/home.png" alt="">
            <div class="title" routerLink="/">Inicio</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/relatorio.png" alt="">
            <div class="title">Relatórios</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/mensagens.png" alt="">
            <div class="title">Mensagens</div>
            <img class="contagemMsg" src="assets/contagemMsg.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/contratos.png" alt="">
            <div class="title">Contratos</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/alunos.png" alt="">
            <div class="title">Alunos</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/Chat.png" alt="">
            <div class="title">Chats</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/agenda.png" alt="">
            <div class="title">Agenda</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/suporte.png" alt="">
            <div class="title">Suporte</div>
          </a>
        </li>
        <li>
          <a href="">
            <img class="imgMenu" src="assets/configuracao.png" alt="">
            <div class="title">Configurações</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="main">
  <div class="resumo">
    <h2>Resumo</h2>
    <ul>
      <li>Dias</li>
      <li>Semanas</li>
      <li class="ativo">Meses</li>
    </ul>
  </div>
  <!--CARDS-->
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="titulocard">Média de valor de pedido</div>
        <div class="number">R$ 306,20</div>
        <div class="card-nome"><span>1.3%</span>
          <i class="fas fa-arrow-alt-down"></i>
          desde início
        </div>
      </div>
      <div class="icon-box">
        <i class="imgCard"><img src="../../../../assets/mapa1.png" alt=""></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="titulocard">Quantidade de pedidos</div>
        <div class="number">7650</div>
        <div class="card-nome"><span>1.2%</span>
          <i class="fas fa-arrow-alt-down"></i>
          desde início
        </div>
      </div>
      <div class="icon-box">
        <i class="imgCard"><img src="../../../../assets/mapa2.png" alt=""></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="titulocard">Compras únicas</div>
        <div class="number">3,137</div>
        <div class="card-nome"><span style="color:#21D59B;">2.3%</span>
          <i class="fas fa-long-arrow-alt-up" style="color:#21D59B;"></i>
          desde início
        </div>
      </div>
      <div class="icon-box">
        <i class="imgCard"><img src="../../../../assets/mapa3.png" alt=""></i>
      </div>
    </div>

  </div>

  <div class="tables">
    <div class="graficos">
      <div class="divisao">
        <h2>Vendas por País</h2>
        <div class="map">
          <img src="../../../../assets/Map.png" alt="">
        </div>
      </div>

      <div class="paises">
        <table class="visiting">

          <thead class="teste">
            <td>País</td>
            <td></td>
            <td>Percentual</td>
            <td>Pedidos</td>

          </thead>
          <tbody>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/United States.png" alt="">
                </div>
              </td>
              <td>Estados Unidos</td>
              <td>45%</td>
              <td>3442</td>
            </tr>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/canada.png" alt="">
                </div>
              </td>
              <td>Canadá</td>
              <td>20%</td>
              <td>1530</td>
            </tr>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/russia.png" alt="">
                </div>
              </td>
              <td>Rússia</td>
              <td>15%</td>
              <td>1147</td>
            </tr>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/china.png" alt="">
                </div>
              </td>
              <td>China</td>
              <td>10%</td>
              <td>765</td>
            </tr>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/australia.png" alt="">
                </div>
              </td>
              <td>Austrália</td>
              <td>5%</td>
              <td>382</td>
            </tr>
            <tr>
              <td>
                <div class="img-box-small">
                  <img src="../../../../assets/france.png" alt="">
                </div>
              </td>
              <td>França</td>
              <td>5%</td>
              <td>382</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="bloco2">
      <div class="card2">
        <h2>Visitantes</h2>
        <div class="number">R$ 306,20</div>
        <div class="card-nome"><span style="color:#21D59B;">1.3%</span>
          <i class="fas fa-long-arrow-alt-up" style="color:#21D59B;"></i>
          desde início
        </div>

        <div class="icon-box">
          <i class="imgCardLateral"><img src="../../../../assets/Caminho 398.png" alt=""></i>
        </div>

        <p class="maisInforCardLateral">Mais informações
          <img src="../../../../assets/seta.png" alt="">
        </p>
      </div>
    </div>
  </div>

  <div class="table2">
    <div class="graficos">
      <div class="cardBloco3">
        <div class="cardHeader">
          <h2>Relatório de vendas</h2>
          <a href="#" class="donwload">
            <img src="assets/donwload.png" alt="">
            Exportar
          </a>
        </div>
        <div class="situacaoRelatorio">
          <div>
            <h1>Esperado</h1>
          </div>
          <div>
            <h2><span>Esperado</span></h2>
          </div>
        </div>
        <div class="graficoBarra">
          <img src="assets/grafico.JPG" alt="">
        </div>
      </div>
    </div>

    <div class="bloco2">
      <div class="card3">
        <div class="divisao">
          <h2>Vendas por tipo de produto</h2>
        </div>

        <div class="graficoCirculo">
          <img src="assets/graficoCirculo.png" alt="">
        </div>
        <div class="vendasTipoProdutos">
          <div class="cor">
            <p ><img src="assets/azul.png" alt=""></p>
            <p ><img src="assets/verde.png" alt=""></p>
            <p ><img src="assets/amarelo.png" alt=""></p>
            <p ><img src="assets/laranja.png" alt=""></p>
          </div>

          <div>
            <p>Eletronicos</p>
            <p>Eletronicos</p>
            <p>Eletronicos</p>
            <p>Eletronicos</p>
          </div>

          <div>
            <p>50%</p>
            <p>50%</p>
            <p>50%</p>
            <p>50%</p>
          </div>
          </div>

          <p class="maisInfor">Mais informações
            <img src="assets/seta.png" alt="">
          </p>
      </div>
    </div>
  </div>
</div>


